# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\CU School\Fall 2020\PPL\Projects\csci3155_s20_project1 (1)\csci3155_s20_project1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
