# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\CU School\Fall 2020\PPL\Projects\p2\csci3155_f20_project2\csci3155_f20_project2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
